hebel {
    background-image: url("../images/screen-send/hebel.png");
    width: 356pt;
    height: 230px;
    /* z-index: 1; */
    display: block;
    background-size: 40%;
    background-repeat: no-repeat;
    /*transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;*/
}

hebel.active {
    top: 180px;
    left: 79px;
    height: 124px;
}