hebel {
    background-image: url("../images/screen-send/hebel.png");
    width: 356pt;
    height: 230px;
    /* z-index: 1; */
    display: block;
    background-size: 40%;
    background-repeat: no-repeat;
    /*transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;*/
}

hebel.active {
    top: 180px;
    left: 79px;
    height: 124px;
}



.bolt {
    background-image: url("../images/screen-send/blitz.png");
    width: 261pt;
    height: 307pt;
    display: block;
    background-size: 40%;
    background-repeat: no-repeat;
    opacity: 0;
}

.bolt.active{
    -webkit-animation: bolt-animation 1.5s linear infinite;
}

@-webkit-keyframes bolt-animation {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}