<!DOCTYPE html>
<html ng-app="petrusApp">
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
  <title></title>

  <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
  <link rel="stylesheet" href="bower_components/Spinning-Wheel/spinningwheel.css"/>
  <link rel="stylesheet" href="css/location.css">
  <link rel="stylesheet" href="css/send.css">
  <link rel="stylesheet" href="css/wish.css">
  <link rel="stylesheet" href="css/spinningwheel.css">

</head>
<body ng-controller="ScrollViewCtrl">

<fa-app style="width: 320px; height: 568px;">

  <fa-scroll-view id="main-scroll-view" fa-pipe-from="enginePipe"
                  fa-options="options.mainScrollView">

    <!--<fa-view id="start" fa-pipe-to="enginePipe">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-start/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>
    </fa-view>

    <fa-view id="date" fa-pipe-to="enginePipe" ng-controller="DateCtrl">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-date/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>

      <fa-modifier class="rotateMod" fa-origin="[.5, .5]" fa-translate="[-80,-156,1]">
        <fa-image-surface fa-image-url="images/screen-date/clock-hand.png" fa-size="[50,50]">
        </fa-image-surface>
      </fa-modifier>

      <fa-animation autoplay="true" duration="2000" loop="true">
        <animate targetModSelector=".rotateMod"
                 field="rotateZ"
                 startValue="0"
                 endValue="6.283"
                 curve="linear"></animate>
      </fa-animation>

      <fa-modifier fa-translate="[30,190,-1]">
        <fa-surface fa-background-color="'orange'" fa-size="[250,215]">
          <div id="spinningwheel"></div>
        </fa-surface>
      </fa-modifier>

    </fa-view>

    <fa-view id="location" fa-pipe-to="enginePipe" ng-controller="LocationCtrl">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-location/cover.png" fa-size="[width,height]">

        </fa-image-surface>
      </fa-modifier>


      <fa-modifier fa-translate="[60,155,1]">
        <fa-surface>
          <input class="input-location" type="text" ng-model="weather.locationName"
                 ng-class="{smaller: weather.locationName.length > 15 }">
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[20,35,1]">
        <fa-surface fa-size="[180,92]">
          <div class="bell active"></div>
        </fa-surface>
      </fa-modifier>

      <fa-modifier ng-repeat="model in keys" fa-size="[model.width,model.height]"
                   fa-translate="[model.left,model.top,1]">
        <fa-surface fa-click="keyClick(model.key, $event)">

        </fa-surface>
      </fa-modifier>
    </fa-view>-->

    <fa-view id="wish" fa-pipe-to="enginePipe" ng-controller="WishCtrl">


      <fa-modifier class="rotateDisk" fa-translate="[10,55,-1]">
          <fa-surface fa-click="weather.weatherType = weather.weatherType + 1">
            <div class="weather-disk" style="-webkit-transform: rotate({{weather.weatherType * (360 / 7) }}deg) translateZ(0)"></div>
          </fa-surface>
      </fa-modifier>

      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-wish/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[240,170,1]">
        <fa-surface fa-click="weather.weatherType = weather.weatherType + 1"
                    fa-size="[80,80]">
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[130,160,1]">
        <fa-surface fa-size="[50,180]" fa-touchstart="handleTouch($event)" fa-touchmove="handleTouch($event)">
        </fa-surface>
        <fa-modifier fa-translate="[0,-temperature*1.8+51*1.8,1]">
          <fa-surface fa-background-color="'black'" fa-size="[25,3]">

          </fa-surface>
        </fa-modifier>
      </fa-modifier>


    </fa-view>


    <fa-view id="send" fa-pipe-to="enginePipe" ng-controller="SendCtrl">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-send/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>


      <fa-modifier fa-translate="options.translate">
        <fa-surface fa-size="options.size" fa-click="onClick()">
          <hebel min-height="74" options="options" style="height:{{options.size[1]}}px"
                 on-submit="submit()"></hebel>
        </fa-surface>
      </fa-modifier>


      <fa-modifier fa-translate="[76,360]">
        <fa-surface fa-size="[261,307]">
          <div class="bolt" ng-class="{active:active}"></div>
        </fa-surface>
      </fa-modifier>
    </fa-view>

  </fa-scroll-view>

</fa-app>


<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-scrolly/angular-scrolly.js"></script>
<script src="bower_components/famous/famous-global.js"></script>
<script src="bower_components/famous-angular/dist/famous-angular.js"></script>
<script src="bower_components/Spinning-Wheel/spinningwheel.js"></script>
<!-- endbower -->

<script src="scripts/app.js"></script>
<script src="scripts/controllers/ScrollViewCtrl.js"></script>
<script src="scripts/controllers/LocationCtrl.js"></script>
<script src="scripts/controllers/SendCtrl.js"></script>
<script src="scripts/controllers/DateCtrl.js"></script>
<script src="scripts/controllers/WishCtrl.js"></script>
<script src="scripts/services/WeatherService.js"></script>
<script src="scripts/directives/hebelDirective.js"></script>

</body>
</html>