<!DOCTYPE html>
<html ng-app="petrusApp">
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
  <title></title>

  <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
  <link rel="stylesheet" href="css/location.css">
  <link rel="stylesheet" href="css/send.css">

</head>
<body ng-controller="ScrollViewCtrl">

<fa-app style="width: 320px; height: 568px;">

  <fa-scroll-view id="main-scroll-view" fa-pipe-from="enginePipe"
                  fa-options="options.mainScrollView">

    <fa-view id="start" fa-pipe-to="enginePipe">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-start/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>
    </fa-view>

    <fa-view id="date" fa-pipe-to="enginePipe">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-date/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>

      <fa-modifier class="rotateMod" fa-origin="[.5, .5]" fa-translate="[-80,-156,1]">
        <fa-image-surface fa-image-url="images/screen-date/clock-hand.png" fa-size="[50,50]">
        </fa-image-surface>
      </fa-modifier>

      <fa-animation autoplay="true" duration="2000" loop="true">
        <animate targetModSelector=".rotateMod"
                 field="rotateZ"
                 startValue="0"
                 endValue="6.283"
                 curve="linear"></animate>
      </fa-animation>

    </fa-view>

    <fa-view id="location" fa-pipe-to="enginePipe" ng-controller="LocationCtrl">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-location/cover.png" fa-size="[width,height]">

        </fa-image-surface>
      </fa-modifier>


      <fa-modifier fa-translate="[60,155,1]">
        <fa-surface>
          <input class="input-location" type="text" ng-model="weather.locationName" ng-class="{smaller: weather.locationName.length > 15 }">
        </fa-surface>
      </fa-modifier>

      <fa-modifier ng-repeat="model in keys" fa-size="[model.width,model.height]"
                   fa-translate="[model.left,model.top,1]">
        <fa-surface fa-click="keyClick(model.key, $event)">

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view id="wish" fa-pipe-to="enginePipe">


      <fa-modifier class="rotateDisk" fa-translate="[-10,-85,-1]">
        <fa-modifier fa-rotate-z="{{weather.weatherType}} * (6.28 / 7)" fa-origin="[0.5, 0.5]" fa-duration="500">
          <fa-image-surface fa-click="weather.weatherType = weather.weatherType + 1"
                            fa-image-url="images/screen-wish/weather-disk.png" fa-size="[290,290]">
          </fa-image-surface>
        </fa-modifier>

      </fa-modifier>

      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-wish/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[240,170,1]">
        <fa-surface fa-click="weather.weatherType = weather.weatherType + 1"
                    fa-size="[80,80]">
        </fa-surface>
      </fa-modifier>


    </fa-view>


    <fa-view id="send" fa-pipe-to="enginePipe" ng-controller="SendCtrl">
      <fa-modifier>
        <fa-image-surface fa-image-url="images/screen-send/cover.png" fa-size="[width,height]">
        </fa-image-surface>
      </fa-modifier>


      <fa-modifier fa-translate="options.translate">
        <fa-surface fa-size="options.size" fa-click="onClick()">
          <hebel min-height="74" options="options" style="height:{{options.size[1]}}px"
                  on-submit=""></hebel>
        </fa-surface>
      </fa-modifier>

    </fa-view>

  </fa-scroll-view>

</fa-app>


<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>

<script src="bower_components/famous/famous-global.js"></script>
<script src="bower_components/famous-angular/dist/famous-angular.js"></script>
<!-- endbower -->

<script src="scripts/app.js"></script>
<script src="scripts/controllers/ScrollViewCtrl.js"></script>
<script src="scripts/controllers/LocationCtrl.js"></script>
<script src="scripts/controllers/SendCtrl.js"></script>
<script src="scripts/services/WeatherService.js"></script>
<script src="scripts/directives/hebelDirective.js"></script>

</body>
</html>